.header-nav {
	@include susy-clearfix();
	background: $black;

	@include for(tablet) {
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 200;

		// If the Wordpress menu bar is showing, we need to move everything down substantially 
		.admin-bar & {
			top: 40px;

			@include for(desktop) {
				top: 30px;
			}
		}
	}

	border-bottom: 2px #FFF solid;
	box-shadow: 0px 0px 6px #aaa;

	

	.container {
		position: relative;
	}

	&__trigger-button {
		@include make-button();
		@include make-serif();
		color: #FFF;
		border: 1px solid #FFF;
		background: transparent;
		border-radius: 4px;
		margin: 10px 0;
		padding: 5px 8px;
		display: block;

		@include for(large-desktop) {
			display: none;
		}
	}

	&__menu-button {
		@include make-button();
		@include make-serif();
		border: darken($yellow, 10%) solid 5px;
		border-top: 0px;
		position: absolute;
		top: 0px;
		right: 10px;
		background: $yellow;
		padding: 30px;
		text-transform: uppercase;
		color: #FFF;
		text-decoration: none;
		text-shadow: 1px 1px 1px $black;
		box-shadow: 0px 0px 6px #aaa;

		@include for(desktop) {
			top: -10px;
		}

		@include for(large-desktop) {
			right: 0px;
			top: 0px;
		}

		@include for(mobile-only) {
			display: none;
		}

		&:hover {
			background: $green-2;
			color: #FFF;
			border-color: $green-1;
		}
	}

	&__list {
		margin: 0;
		padding-left: 0px;
		@include span(10);

		height: 0px;
		overflow: hidden;

		&--expanded {
			height: auto;
		}

		@include for(large-desktop) {
			height: auto;		
		}
		
		@include for(desktop) {
			display: flex;
		}

		li {
			list-style-type: none;
			padding: 0;
		}

		.current-menu-item a {
			color: $green-2;
		}

		a {
			padding: 0px 10px;
			display: block; 
			color: #FFF;
			text-decoration: none; 
			@include rem(line-height, 50px);
			@include rem(font-size, 22px);
			@include make-sans-serif();

			&:hover {
				color: $yellow;
			}

		}
	}
}