$susy: (
	math: fluid,
	columns: 12,
	column-width: 80px,
	gutters: 0.33, 
);

body {
	background: url(../images/background.jpg);
  background-attachment: fixed;
  line-height: 1.43em;

  @include for(mobile-only) {
    background-image: url(../images/background-portrait.jpg);
  }
}


