.main-header {
	position: relative;
	padding-top: 20px;
	
	@include for(tablet) {
		padding-top: 60px;
	}

	.brand {
		@include for(mobile-only) {
			width: 80%;
			display: block;
		}

		img {
			max-width: 100%;
			height: auto;
		}
	}
}